@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Gloria DL v1 AAA Light";
  src: url("../../public//assets/file2.woff2");
}

@font-face {
  font-family: "Gloria DL v1 AAA";
  src: url("../../public//assets/file.woff2");
}

.glor-l {
  font-family: "Gloria DL v1 AAA Light";
}
.glor-b {
  font-family: "Gloria DL v1 AAA";
}

.customFont {
  font-family: "Unbounded", sans-serif;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* embla */

.embla {
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 1.2rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  background-color: var(--cd-white);
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  background-color: var(--cd-white);
  border:
    var(--cd-black),
    solid 1px;

  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  background-color: var(--cd-white);
  border:
    var(--cd-light-blue),
    solid 4px;
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
.navbarmain {
  backdrop-filter: blur(8px);
}
.react-photo-album--photo .yarl__slide_image {
  padding: 0 !important;

  border-radius: 12px !important;
}
.react-photo-album--photo {
  margin: 10px !important;
}

.yarl__thumbnails_track {
  padding: 0 !important;
  border-radius: 12px !important;
}

.yarl__no_scroll_padding {
  padding: 0 !important;
  /* margin: 0;
  overflow: hidden; */
}

.yarl__thumbnails_thumbnail {
  border-radius: 12px !important;
  padding: 0 !important;
}

.react-photo-album--photo {
  border-radius: 12px !important;
  padding: 0 !important;
}
.yarl__icon {
  color: white;
}

.yarl__no_scroll {
  overflow: hidden !important;
}
/* .yarl__container {
  padding-right: 16px !important;
} */

.yarl__portal body {
  padding-right: 16px !important;
}

.slick-arrow {
  z-index: 999;
}
.slick-prev {
  z-index: 999;
}

* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.page-header,
.page-footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.page-body {
  flex-grow: 1;
}

* {
  scroll-behavior: smooth;
}
.navbarmain {
  backdrop-filter: blur(8px);
}

.yarl__slide_wrapper > img {
  border-radius: 12px !important;
}
.yarl__slide_image {
  padding: 0 !important;
  border-radius: 5px !important;
}
.yarl__slide > img {
  border-radius: 16px !important;
}
.animate-spin-slow {
  animation: spin 4s linear infinite;
}
.animate-spin-slower {
  animation: spin 6s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
.animate-spin-reverse-slower {
  animation: spin-reverse 6s linear infinite;
}
@keyframes spin-reverse {
  to {
    transform: rotate(-1turn);
  }
}
/* _swiper.css */
.swiper-slide {
  height: 100%;
  width: 100%;
}
.swiper-1 {
  height: 450px;
  width: auto;
}
.swiper-pagination-bullets-dynamic {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
/* logo swiper */
#logo-swiper .swiper-slide {
  position: relative;
  transition: all 0.3s ease-in-out;
}
#logo-swiper .swiper-slide-active {
  height: 60%;
  width: auto;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
  box-shadow: 0 7px 14px 0 rgba(52, 58, 64, 0.06);
} /* custom marquee slider */ /* Base marquee animation (left to right) */
.marquee__group {
  animation: scroll 60s linear infinite;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 2rem));
  }
}

/* Hero marquee animation (left to right) */
.marquee-hero {
  animation: hero 5s linear infinite;
}

.marquee-reverse .marquee-hero {
  animation-direction: reverse;
}

@keyframes hero {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(calc(-10% - 2rem));
  }
}

/* Rotate elements 90 degrees right on md and smaller screens */
@media (max-width: 768px) {
  .marquee__group,
  .marquee-hero {
    transform: rotate(90deg);
    transform-origin: center;
  }
}
@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}
